- :item: item name
  :urls:
    - rss search url result from craigslist
    - rss search url result from craigslist
- :item: item name
  :urls:
    - rss search url result from craigslist
    - rss search url result from craigslist

